<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<!-- FONTAWESOME -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- JQUERY -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<!-- DATATABLES -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<style type="text/css">
		body {
			padding: 0px !important;
		}
		main {
			padding-right: 0px !important;
			max-width: 85.7% !important;
		}
		#sidebar {
			overflow: hidden;
			z-index: 3;
		}
		#sidebar .list-group {
			min-width: 400px;
			background-color: #333;
			min-height: 100vh;
		}
		#sidebar i {
			margin-right: 6px;
		}

		#sidebar .list-group-item {
			border-radius: 0;
			background-color: #333;
			color: #ccc;
			border-left: 0;
			border-right: 0;
			border-color: #2c2c2c;
			white-space: nowrap;
		}

		/* highlight active menu */
		#sidebar .list-group-item:not(.collapsed) {
			background-color: #222;
		}

		/* closed state */
		#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
			content: " \f0d7";
			font-family: FontAwesome;
			display: inline;
			text-align: right;
			padding-left: 5px;
		}

		/* open state */
		#sidebar .list-group .list-group-item[aria-expanded="true"] {
			background-color: #222;
		}
		#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
			content: " \f0da";
			font-family: FontAwesome;
			display: inline;
			text-align: right;
			padding-left: 5px;
		}

		/* level 1*/
		#sidebar .list-group .collapse .list-group-item,
		#sidebar .list-group .collapsing .list-group-item  {
			padding-left: 20px;
		}

		/* level 2*/
		#sidebar .list-group .collapse > .collapse .list-group-item,
		#sidebar .list-group .collapse > .collapsing .list-group-item {
			padding-left: 30px;
		}

		/* level 3*/
		#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
			padding-left: 40px;
		}

		@media (min-width:768px) {
			.col-md-3 {
				max-width: 14% !important;
			}
		}
		@media (max-width:768px) {
			.col-md-3 {
				max-width: 14% !important;
			}
			#sidebar {
				min-width: 35px;
				max-width: 40px;
				overflow-y: auto;
				overflow-x: visible;
				transition: all 0.25s ease;
				transform: translateX(-45px);
				position: fixed;
			}

			#sidebar.show {
				transform: translateX(0);
			}

			#sidebar::-webkit-scrollbar{ width: 0px; }

			#sidebar, #sidebar .list-group {
				min-width: 35px;
				overflow: visible;
			}
			/* overlay sub levels on small screens */
			#sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
				position: relative;
				z-index: 1;
				width: 190px;
				top: 0;
			}
			#sidebar .list-group > .list-group-item {
				text-align: center;
				padding: .75rem .5rem;
			}
			/* hide caret icons of top level when collapsed */
			#sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
			#sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
				display:none;
			}
		}
		.collapse.show {
			visibility: visible;
		}
		.collapsing {
			visibility: visible;
			height: 0;
			-webkit-transition-property: height, visibility;
			transition-property: height, visibility;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		}
		.collapsing.width {
			-webkit-transition-property: width, visibility;
			transition-property: width, visibility;
			width: 0;
			height: 100%;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		}
	</style>
</head>
<body class="body">
	<div class="container-fluid">
		<div class="row d-flex d-md-block flex-nowrap wrapper">
			<div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width" id="sidebar">
				<div class="list-group border-0 card text-center text-md-left">
					<a href="#parceiro" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-handshake-o"></i> <span class="d-none d-md-inline">Parceiros</span> </a>
					<div class="collapse" id="parceiro">
						<a href="#" class="list-group-item parceiro-menu" data-parent="#parceiro" data-id="login">Login</a>
						<a href="#" class="list-group-item parceiro-menu" data-parent="#parceiro" data-id="visualizar">Visualizar</a>
						<a href="#" class="list-group-item parceiro-menu" data-parent="#parceiro" data-id="cadastrar">Cadastrar</a>
						<a href="#" class="list-group-item parceiro-menu" data-parent="#parceiro" data-id="editar">Editar</a>
						<a href="#" class="list-group-item parceiro-menu" data-parent="#parceiro" data-id="logout">Logout</a>
					</div>
					<a href="#cliente" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-address-book-o"></i> <span class="d-none d-md-inline">Clientes</span> </a>
					<div class="collapse" id="cliente">
						<a href="#" class="list-group-item cliente-menu" data-parent="#cliente" data-id="visualizar">Visualizar</a>
						<a href="#" class="list-group-item cliente-menu" data-parent="#cliente" data-id="cadastrar">Cadastrar</a>
					</div>
					<a href="#titulo" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-file-text-o"></i> <span class="d-none d-md-inline">Titulos</span> </a>
					<div class="collapse" id="titulo">
						<a href="#" class="list-group-item titulo-menu" data-parent="#titulo" data-id="visualizar">Visualizar</a>
						<a href="#" class="list-group-item titulo-menu" data-parent="#titulo" data-id="cadastrar">Cadastrar</a>
					</div>
					<a href="#consulta" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-search"></i> <span class="d-none d-md-inline">Consultas</span> </a>
					<div class="collapse" id="consulta">
						<a href="#" class="list-group-item consulta-menu" data-parent="#consulta" data-id="porcpf">Por CPF (Clientes)</a>
						<a href="#" class="list-group-item consulta-menu" data-parent="#consulta" data-id="porcpfp">Por CPF (Parceiros)</a>
					</div>
				</div>
			</div>
			<main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main" id="conteudo-principal"></main>
		</div>
	</div>
</body>

<script type="text/javascript">
	$(document).ready(function(){
		$("#conteudo-principal").load("instrucoes");
		/*$.ajax({
			// url: '/verify/login/user/path',
			url: 'https://serasa.herokuapp.com/verify/login/user/path',
			type: 'POST',
			dataType: 'JSON',
			headers: {"Authorization": sessionStorage.getItem("Sessao")},
			success: function(retorno){
				$('#parceiro').html('\
					<a href="#" class="list-group-item parceiro-menu" data-parent="#parceiro" data-id="visualizar">Visualizar</a>\
					<a href="#" class="list-group-item parceiro-menu" data-parent="#parceiro" data-id="cadastrar">Cadastrar</a>\
					<a href="#" class="list-group-item parceiro-menu" data-parent="#parceiro" data-id="editar">Editar</a>\
				');
			},
			error: function(error){
				$('#parceiro').html('\
					<a href="#" class="list-group-item parceiro-menu" data-parent="#parceiro" data-id="login">Login</a>\
				');
			}
		});	*/	
	});

	$(document).on('click', '.selector-btn-reload', function(e){
		e.preventDefault();
		$.ajax({
			// url: '/parceiro',
			// url: 'https://serasa.herokuapp.com/parceiro',
			url: $('#form_url').val(),
			type: 'GET',
			headers: {"Authorization": $('#form_token').val()},
			dataType: 'JSON',
			success: function(retorno){
				$('.serasa-content').css('display', 'block');
				$('.selector-tbody-parceiros').empty();
				$('.selector-tbody-parceiros').append('\
					<tr>\
						<td>'+retorno.cnpj+'</td>\
						<td>'+retorno.nome_fantasia+'</td>\
						<td>'+retorno.razao_social+'</td>\
						<td>'+retorno.nome_usuario+'</td>\
						<td>'+retorno.email+'</td>\
					</tr>\
				');
				// window.history.replaceState(null, null, '/read');
			},
			error: function(error){if(error.status == 401){alert(error.responseJSON.mensagem);/*$("#conteudo-principal").load("login");*/}
			else{$('.alert-success').prop('hidden', true);$('.alert-danger').prop('hidden', false).html("<strong>Http Status:</strong> " + error.status + ", <br/><strong>Mensagem:</strong> " + error.responseJSON.mensagem);}
			},
			complete: function(retorno){
				$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));
			}
		})
		.then(function(data){
			$('#parceiro-visualizar').DataTable();
		});
	});

	$(document).on('click', '.selector-btn-reload-clientes', function(e){
		e.preventDefault();
		$.ajax({
			// url: '/cliente',
			// url: 'https://serasa.herokuapp.com/cliente',
			url: $('#form_url').val(),
			type: 'GET',
			headers: {"Authorization": $('#form_token').val()},
			dataType: 'JSON',
			success: function(retorno){
				$('.serasa-content').css('display', 'block');
				$('.selector-tbody-clientes').empty();
				$.each(retorno, function(key, value){
					$('.selector-tbody-clientes').append('\
						<tr>\
							<td>'+value.id_cliente+'</td>\
							<td>'+value.nome_cliente+'</td>\
							<td>'+value.cpf+'</td>\
							<td>\
								<a href="#" class="btn btn-success btn-editar-cliente" data-cpf="' + value.cpf + '" data-nome="' + value.nome_cliente + '" data-id="' + value.id_cliente + '"><i class="fa fa-pencil"></i></a>\
								<a href="#" class="btn btn-danger btn-excluir-cliente" data-cpf="' + value.cpf + '" data-id="' + value.id_cliente + '"><i class="fa fa-trash"></i></a>\
							</td>\
						</tr>\
					');
				});
				// window.history.replaceState(null, null, '/read');
			},
			error: function(error){if(error.status == 401){alert(error.responseJSON.mensagem);/*$("#conteudo-principal").load("login");*/}
			else{$('.alert-success').prop('hidden', true);$('.alert-danger').prop('hidden', false).html("<strong>Http Status:</strong> " + error.status + ", <br/><strong>Mensagem:</strong> " + error.responseJSON.mensagem);}
			},
			complete: function(retorno){
				$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));
			}
		})
		.then(function(data){
			$('#cliente-visualizar').DataTable();
		});
	});

	$(document).on('click', '.selector-btn-reload-titulos', function(e){
		e.preventDefault();
		$.ajax({
			// url: '/titulo',
			// url: 'https://serasa.herokuapp.com/titulo',
			url: $('#form_url').val(),
			type: 'GET',
			headers: {"Authorization": $('#form_token').val()},
			dataType: 'JSON',
			success: function(retorno){
				$('.serasa-content').css('display', 'block');
				$('.selector-tbody-titulos').empty();
				$.each(retorno, function(key, value){
					$('.selector-tbody-titulos').append('\
						<tr>\
							<td>'+value.id_titulo+'</td>\
							<td>'+value.nome_cliente+'</td>\
							<td>'+value.valor+'</td>\
							<td>'+value.situacao+'</td>\
							<td>'+value.descricao+'</td>\
							<td>'+value.data_emissao+'</td>\
							<td>'+value.data_pagamento+'</td>\
							<td>\
								<a href="#" class="btn btn-success btn-atualizar-titulo" data-id="' + value.id_titulo + '"><i class="fa fa-pencil"></i></a>\
								<a href="#" class="btn btn-danger btn-excluir-titulo" data-id="' + value.id_titulo + '"><i class="fa fa-trash"></i></a>\
							</td>\
						</tr>\
					');
				});
				// window.history.replaceState(null, null, '/read');
			},
			error: function(error){if(error.status == 401){alert(error.responseJSON.mensagem);/*$("#conteudo-principal").load("login");*/}
			else{$('.alert-success').prop('hidden', true);$('.alert-danger').prop('hidden', false).html("<strong>Http Status:</strong> " + error.status + ", <br/><strong>Mensagem:</strong> " + error.responseJSON.mensagem);}
			},
			complete: function(retorno){
				$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));
			}
		})
		.then(function(data){
			$('#titulo-visualizar').DataTable();
		});
	});

	$(document).on('click', '.selector-btn-reload-consultas', function(e){
		e.preventDefault();
		var url = $('#form_url').val() + '/' + $('#form_cpf').val();
		$.ajax({
			// url: '/titulo',
			// url: 'https://serasa.herokuapp.com/titulo',
			url: url,
			type: 'GET',
			dataType: 'JSON',
			success: function(retorno){
				$('.serasa-content').css('display', 'block');
				$('.selector-tbody-consultas').empty();
				$.each(retorno, function(key, value){
					$('.selector-tbody-consultas').append('\
						<tr>\
							<td>'+value.id_titulo+'</td>\
							<td>'+value.valor+'</td>\
							<td>'+value.situacao+'</td>\
							<td>'+value.descricao+'</td>\
						</tr>\
					');
				});
				// window.history.replaceState(null, null, '/read');
			},
			error: function(error){if(error.status == 401){alert(error.responseJSON.mensagem);/*$("#conteudo-principal").load("login");*/}
			else{alert("<strong>Http Status:</strong> " + error.status + ", <br/><strong>Mensagem:</strong> " + error.responseJSON.mensagem);$('.alert-success').prop('hidden', true);$('.alert-danger').prop('hidden', false).html("<strong>Http Status:</strong> " + error.status + ", <br/><strong>Mensagem:</strong> " + error.responseJSON.mensagem);}
			},
			complete: function(retorno){
				$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));
			}
		})
		.then(function(data){
			$('#consulta-visualizar').DataTable();
		});
	});

	$(document).on('click', '.selector-btn-reload-parceiro-consultas', function(e){
		e.preventDefault();
		var url = $('#form_url').val() + '/' + $('#form_cpf').val();
		$.ajax({
			// url: '/titulo',
			// url: 'https://serasa.herokuapp.com/titulo',
			url: url,
			type: 'GET',
			dataType: 'JSON',
			success: function(retorno){
				$('.serasa-content').css('display', 'block');
				$('.selector-tbody-parceiro-consultas').empty();
				$.each(retorno, function(key, value){
					$('.selector-tbody-parceiro-consultas').append('\
						<tr>\
							<td>'+value.id_titulo+'</td>\
							<td>'+value.id_parceiro+'</td>\
							<td>'+value.id_cliente+'</td>\
							<td>'+value.descricao+'</td>\
							<td>'+value.situacao+'</td>\
							<td>'+value.valor+'</td>\
							<td>'+value.data_emissao+'</td>\
							<td>'+value.data_pagamento+'</td>\
						</tr>\
					');
				});
				// window.history.replaceState(null, null, '/read');
			},
			error: function(error){if(error.status == 401){alert(error.responseJSON.mensagem);/*$("#conteudo-principal").load("login");*/}
			else{alert("<strong>Http Status:</strong> " + error.status + ", <br/><strong>Mensagem:</strong> " + error.responseJSON.mensagem);$('.alert-success').prop('hidden', true);$('.alert-danger').prop('hidden', false).html("<strong>Http Status:</strong> " + error.status + ", <br/><strong>Mensagem:</strong> " + error.responseJSON.mensagem);}
			},
			complete: function(retorno){
				$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));
			}
		})
		.then(function(data){
			$('#parceiro-consulta-visualizar').DataTable();
		});
	});

	$(document).on('click', '.parceiro-menu', function(){
		/*if ($(this).data('id') == 'visualizar') {
			$("#conteudo-principal").load("read");
			$.ajax({
				// url: '/parceiro',
				url: 'https://serasa.herokuapp.com/parceiro',
				type: 'GET',
				headers: {"Authorization": sessionStorage.getItem("Sessao")},
				dataType: 'JSON',
				success: function(retorno){
					$('.serasa-content').css('display', 'block');
					$.each(retorno, function(key,value){
						$('.selector-tbody-parceiros').append('\
							<tr>\
								<td>'+value.cnpj+'</td>\
								<td>'+value.nome_fantasia+'</td>\
								<td>'+value.razao_social+'</td>\
								<td>'+value.nome_usuario+'</td>\
								<td>'+value.email+'</td>\
							</tr>\
						');
					});
					// window.history.replaceState(null, null, '/read');
				},
				error: function(error){if(error.status == 401){alert(error.responseJSON.mensagem);$("#conteudo-principal").load("login", function(){$('.serasa-content').css('display', 'block');});}},
				complete: function(retorno){
					$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));
				}
			})
			.then(function(data){
				$('#parceiro-visualizar').DataTable();
			});
			
		}*/
		if ($(this).data('id') == 'visualizar') {
			$("#conteudo-principal").load("read", function(){
				$('.serasa-content').css('display', 'block');
				if (sessionStorage.getItem("Sessao") != "null") {
					$('#form_token').val(sessionStorage.getItem("Sessao"));
				}
				if (sessionStorage.getItem("url") != "null") {
					$('#form_url').val(sessionStorage.getItem("url").replace("login", "parceiro"));
				}
			});
			// window.history.replaceState(null, null, '/read');
		}
		if ($(this).data('id') == 'cadastrar') {
			$("#conteudo-principal").load("create", function(){
				$('.serasa-content').css('display', 'block');
			});
			// window.history.replaceState(null, null, '/create');
		}
		if ($(this).data('id') == 'editar') {
			$("#conteudo-principal").load("edit", function(){
				$('.serasa-content').css('display', 'block');
				if (sessionStorage.getItem("Sessao") != "null") {
					$('#form_token').val(sessionStorage.getItem("Sessao"));
				}
				if (sessionStorage.getItem("url") != "null") {
					$('#form_url').val(sessionStorage.getItem("url").replace("login", "parceiro"));
				}
				$.ajax({
					url: $('#form_url').val(),
					type: 'GET',
					headers: {"Authorization": sessionStorage.getItem("Sessao")},
					dataType: 'JSON',
					success: function(retorno){
						$('#nome_fantasia').val(retorno.nome_fantasia);
						$('#razao_social').val(retorno.razao_social);
						$('#email').val(retorno.email);
						$('#senha').val(retorno.senha);
					},
					error: function(error){},
					complete: function(retorno){
						$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));
					}
				});
						
			});
			// window.history.replaceState(null, null, '/edit');
		}
		if ($(this).data('id') == 'login') {
			$("#conteudo-principal").load("login", function(){
				$('.serasa-content').css('display', 'block');
				if (sessionStorage.getItem("url") != "null") {
					$('#form_url').val(sessionStorage.getItem("url"));
				}
			});
			// window.history.replaceState(null, null, '/login');
		}
		if ($(this).data('id') == 'logout') {
			$("#conteudo-principal").load("logout", function(){
				$('.serasa-content').css('display', 'block');
				if (sessionStorage.getItem("Sessao") != "null") {
					$('#form_token').val(sessionStorage.getItem("Sessao"));
				}
				if (sessionStorage.getItem("url") != "null") {
					$('#form_url').val(sessionStorage.getItem("url").replace("login", "logout"));
				}
			});
			// window.history.replaceState(null, null, '/logout');
		}
	});

	$(document).on('click', '.cliente-menu', function(){
		if ($(this).data('id') == 'cadastrar') {
			$("#conteudo-principal").load("cliente/create", function(){
				$('.serasa-content').css('display', 'block');
				if (sessionStorage.getItem("Sessao") != "null") {
					$('#form_token').val(sessionStorage.getItem("Sessao"));
				}
				if (sessionStorage.getItem("url") != "null") {
					$('#form_url').val(sessionStorage.getItem("url").replace("login", "cliente"));
				}
			});
			// window.history.replaceState(null, null, '/create');
		}
		if ($(this).data('id') == 'visualizar') {
			$("#conteudo-principal").load("cliente/read", function(){
				$('.serasa-content').css('display', 'block');
				if (sessionStorage.getItem("Sessao") != "null") {
					$('#form_token').val(sessionStorage.getItem("Sessao"));
				}
				if (sessionStorage.getItem("url") != "null") {
					$('#form_url').val(sessionStorage.getItem("url").replace("login", "cliente"));
				}
			});
			// window.history.replaceState(null, null, '/read');
		}
	});

	$(document).on('click', '.titulo-menu', function(){
		if ($(this).data('id') == 'cadastrar') {
			$("#conteudo-principal").load("titulo/create", function(){
				$('.serasa-content').css('display', 'block');
				if (sessionStorage.getItem("Sessao") != "null") {
					$('#form_token').val(sessionStorage.getItem("Sessao"));
				}
				if (sessionStorage.getItem("url") != "null") {
					$('#form_url').val(sessionStorage.getItem("url").replace("login", "titulo"));
				}
			});
			// window.history.replaceState(null, null, '/create');
		}
		if ($(this).data('id') == 'visualizar') {
			$("#conteudo-principal").load("titulo/read", function(){
				$('.serasa-content').css('display', 'block');
				if (sessionStorage.getItem("Sessao") != "null") {
					$('#form_token').val(sessionStorage.getItem("Sessao"));
				}
				if (sessionStorage.getItem("url") != "null") {
					$('#form_url').val(sessionStorage.getItem("url").replace("login", "titulo"));
				}
			});
			// window.history.replaceState(null, null, '/read');
		}
	});

	$(document).on('click', '.consulta-menu', function(){
		if ($(this).data('id') == 'porcpf') {
			$("#conteudo-principal").load("consulta/cliente", function(){
				$('.serasa-content').css('display', 'block');
				if (sessionStorage.getItem("Sessao") != "null") {
					$('#form_token').val(sessionStorage.getItem("Sessao"));
				}
				if (sessionStorage.getItem("url") != "null") {
					$('#form_url').val(sessionStorage.getItem("url").replace("login", "consulta/cliente"));
				}
			});
			// window.history.replaceState(null, null, '/consulta/cliente');
		}
		if ($(this).data('id') == 'porcpfp') {
			$("#conteudo-principal").load("consulta/parceiro", function(){
				$('.serasa-content').css('display', 'block');
				if (sessionStorage.getItem("Sessao") != "null") {
					$('#form_token').val(sessionStorage.getItem("Sessao"));
				}
				if (sessionStorage.getItem("url") != "null") {
					$('#form_url').val(sessionStorage.getItem("url").replace("login", "consulta/parceiro"));
				}
			});
			// window.history.replaceState(null, null, '/consulta/cliente');
		}
	});

	$(document).on('click', '.btn-cadastrar-parceiro', function(e){
		e.preventDefault();

		if ($('#cnpj').val() == '') { alert('Há campos vazios, por favor preencha');$('#cnpj').focus();return false;}
		if ($('#nome_fantasia').val() == '') { alert('Há campos vazios, por favor preencha');$('#nome_fantasia').focus();return false;}
		if ($('#razao_social').val() == '') { alert('Há campos vazios, por favor preencha');$('#razao_social').focus();return false;}
		if ($('#nome_usuario').val() == '') { alert('Há campos vazios, por favor preencha');$('#nome_usuario').focus();return false;}
		if ($('#email').val() == '') { alert('Há campos vazios, por favor preencha');$('#email').focus();return false;}
		if ($('#senha').val() == '') { alert('Há campos vazios, por favor preencha');$('#senha').focus();return false;}

		$.ajax({
			// url: '/parceiro',
			// url: 'https://serasa.herokuapp.com/parceiro',
			url: $('#form_url').val(),
			type: 'POST',
			dataType: 'JSON',
			data: {
				cnpj: 			$('#cnpj').val(),
				nome_fantasia: 	$('#nome_fantasia').val(),
				razao_social: 	$('#razao_social').val(),
				nome_usuario: 	$('#nome_usuario').val(),
				email: 			$('#email').val(),
				senha: 			$('#senha').val()
			},
			success: function(retorno){/*if (retorno.success) {*/$('.alert-danger').prop('hidden', true);$('.alert-success').prop('hidden', false);/*}*/},
			error: function(error){
				if(error.status == 401){alert(error.responseJSON.mensagem);/*$("#conteudo-principal").load("login", function(){$('.serasa-content').css('display', 'block');});*/}
				else{$('.alert-success').prop('hidden', true);$('.alert-danger').prop('hidden', false).html("<strong>Http Status:</strong> " + error.status + ", <br/><strong>Mensagem:</strong> " + error.responseJSON.mensagem);}
			},
			complete: function(retorno){
				$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));
			}

		});
	});

	$(document).on('keyup', 'input', function(){
		var json = {
			cnpj: 			$('#cnpj').val(),
			nome_fantasia: 	$('#nome_fantasia').val(),
			razao_social: 	$('#razao_social').val(),
			nome_usuario: 	$('#nome_usuario').val(),
			email: 			$('#email').val(),
			senha: 			$('#senha').val(),
			nome_cliente: 	$('#nome_cliente').val(),
			cpf: 			$('#cpf_cliente').val(),
			id_cliente: 	$('#id_cliente').val(),
			id_parceiro: 	$('#id_parceiro').val(),
			id_titulo: 		$('#id_titulo').val(),
			valor: 			$('#valor').val(),
			descricao: 		$('#descricao').val(),
			situacao: 		$('#situacao').val(),
			data_emissao: 	$('#data_emissao').val(),
			data_pagamento: $('#data_pagamento').val()
		};

		$('.form_json').html(JSON.stringify(json, null, 2));
	});

	$(document).on('click', '.btn-buscar-parceiro', function(e){
		e.preventDefault();
		$('.alert-success').prop('hidden', true);
		$('.alert-danger').prop('hidden', true);
		$.ajax({
			// url: '/parceiro/'+$('#id_parceiro').val(),
			url: 'https://serasa.herokuapp.com/parceiro/'+$('#id_parceiro').val(),
			type: 'GET',
			dataType: 'JSON',
			headers: {"Authorization": sessionStorage.getItem("Sessao")},
			success: function(retorno){
				// if (retorno.success) {
					$('.alert-danger').prop('hidden', true);
					$('#cnpj').val(retorno.data[0].cnpj);
					$('#nome_fantasia').val(retorno.data[0].nome_fantasia);
					$('#razao_social').val(retorno.data[0].razao_social);
					$('#nome_usuario').val(retorno.data[0].nome_usuario);
					$('#email').val(retorno.data[0].email);
					$('#senha').val(retorno.data[0].senha);
				// }
			},
			error: function(error){
				if(error.status == 401){alert(error.responseJSON.mensagem);/*$("#conteudo-principal").load("login", function(){$('.serasa-content').css('display', 'block');});*/}
				else{$('.alert-success').prop('hidden', true);$('.alert-danger').prop('hidden', false).html('<strong>Erro!</strong> Falha ao pesquisar, contate o administrador.');}
			},
			complete: function(retorno){
				$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));
			}
		});	
	});

	$(document).on('click', '.btn-atualizar-parceiro', function(e){
		e.preventDefault();
		$.ajax({
			// url: '/parceiro/',
			// url: 'https://serasa.herokuapp.com/parceiro/'+$('#id_parceiro').val(),
			url: $('#form_url').val(),
			type: 'PUT',
			dataType: 'JSON',
			// headers: {"token": sessionStorage.getItem("Sessao")},
			headers: {"Authorization": $('#form_token').val()},
			data: {
				nome_fantasia: 	$('#nome_fantasia').val(),
				razao_social: 	$('#razao_social').val(),
				email: 	$('#email').val(),
				senha: 	$('#senha').val(),
			},
			success: function(retorno){
				// if (retorno.success) {
					$('.alert-danger').prop('hidden', true);
					$('.alert-success').prop('hidden', false);
				// }
			},
			error: function(error){
				if(error.status == 401){alert(error.responseJSON.mensagem);/*$("#conteudo-principal").load("login", function(){$('.serasa-content').css('display', 'block');});*/}
				else{$('.alert-success').prop('hidden', true);$('.alert-danger').prop('hidden', false);}
			},
			complete: function(retorno){
				$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));
			}
		});
	});

	$(document).on('click', '.btn-excluir-parceiro', function(e){
		e.preventDefault();
		$.ajax({
			// url: '/parceiro',
			// url: 'https://serasa.herokuapp.com/parceiro/'+$('#id_parceiro').val(),
			url: $('#form_url').val(),
			type: 'DELETE',
			// headers: {"token": sessionStorage.getItem("Sessao")},
			headers: {"Authorization": $('#form_token').val()},
			dataType: 'JSON',
			success: function(retorno){
				// if (retorno.success) {
					$('input').val('');
					$('.alert-danger').prop('hidden', true);
					$('.alert-success').prop('hidden', false).html('<strong>Sucesso!</strong> Excluído com perfeição.');
				// }
			},
			error: function(error){
				if(error.status == 401){alert(error.responseJSON.mensagem);/*$("#conteudo-principal").load("login", function(){$('.serasa-content').css('display', 'block');});*/}
				else{$('.alert-success').prop('hidden', true);$('.alert-danger').prop('hidden', false).html('<strong>Erro!</strong> Falha ao exlcuir, contate o administrador.');}
			},
			complete: function(retorno){
				$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));
			}
		});
	});

	$(document).on('click', '.btn-login-parceiro', function(){
		$.ajax({
			// url: '/login',
			// url: 'https://serasa.herokuapp.com/login',
			url: $('#form_url').val(),
			type: 'PUT',
			dataType: 'JSON',
			data: {nome_usuario: $('#nome_usuario').val(), senha: $('#senha').val()},
			success: function(retorno, b, c){
				// if (retorno.success) {
					$('.alert-danger').prop('hidden', true);
					$('.alert-success').prop('hidden', false).html("<strong>Http Status:</strong> " + c.status + ", <br/><strong>Mensagem:</strong> " + retorno.mensagem);
					sessionStorage.setItem("Sessao", retorno.token);
					sessionStorage.setItem("url", $('#form_url').val());
					/*$('#parceiro').html('\
						<a href="#" class="list-group-item parceiro-menu" data-parent="#parceiro" data-id="visualizar">Visualizar</a>\
						<a href="#" class="list-group-item parceiro-menu" data-parent="#parceiro" data-id="cadastrar">Cadastrar</a>\
						<a href="#" class="list-group-item parceiro-menu" data-parent="#parceiro" data-id="editar">Editar</a>\
					');*/
				// }
			},
			error: function(error){
				console.log(error);
				if (!error.success) {
					$('.alert-success').prop('hidden', true);
					$('.alert-danger').prop('hidden', false).html("<strong>Http Status:</strong> " + error.status + ", <br/><strong>Mensagem:</strong> " + error.responseJSON.mensagem);
				}
			},
			complete: function(retorno){
				$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));
			}
		});		
	});

	$(document).on('click', '.btn-logout-parceiro', function(e){
		e.preventDefault();
		$.ajax({
			// url: '/logout',
			// url: 'https://serasa.herokuapp.com/logout',
			url: $('#form_url').val(),
			type: 'PUT',
			dataType: 'JSON',
			// headers: {"token": sessionStorage.getItem("Sessao")},
			headers: {"Authorization": $('#form_token').val()},
			success: function(retorno){
				/*$('#parceiro').html('\
					<a href="#" class="list-group-item parceiro-menu" data-parent="#parceiro" data-id="login">Login</a>\
				');*/
				alert(retorno.mensagem);
				/*$("#conteudo-principal").load("login", function(){
					$('.serasa-content').css('display', 'block');
				});*/
				sessionStorage.setItem("Sessao", null);
			},
			error: function(error){alert(error.responseJSON.mensagem);},
			complete: function(retorno){
				$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));
			}
		});	
	});

	$(document).on('click', '.btn-cadastrar-cliente', function(e){
		e.preventDefault();

		if ($('#nome_cliente').val() == '') { alert('Há campos vazios, por favor preencha');$('#nome_cliente').focus();return false;}
		if ($('#cpf_cliente').val() == '') { alert('Há campos vazios, por favor preencha');$('#cpf_cliente').focus();return false;}

		$.ajax({
			// url: '/cliente',
			// url: 'https://serasa.herokuapp.com/cliente',
			url: $('#form_url').val(),
			type: 'POST',
			dataType: 'JSON',
			headers: {"Authorization": $('#form_token').val()},
			data: {
				nome_cliente: $('#nome_cliente').val(),
				cpf: $('#cpf_cliente').val()
			},
			success: function(retorno){/*if (retorno.success) {*/$('.alert-danger').prop('hidden', true);$('.alert-success').prop('hidden', false);/*}*/},
			error: function(error){
				if(error.status == 401){alert(error.responseJSON.mensagem);/*$("#conteudo-principal").load("login", function(){$('.serasa-content').css('display', 'block');});*/}
				else{$('.alert-success').prop('hidden', true);$('.alert-danger').prop('hidden', false).html("<strong>Http Status:</strong> " + error.status + ", <br/><strong>Mensagem:</strong> " + error.responseJSON.mensagem);}
			},
			complete: function(retorno){
				$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));
			}

		});
	});

	$(document).on('click', '.btn-editar-cliente', function(e){
		e.preventDefault();
		var newName = prompt("Por favor entre com o novo nome:", $(this).data('nome'));
		var url = $('#form_url').val() + '/' + $(this).data('id');
		if (newName != null) {
			$.ajax({
				// url: '/cliente',
				url: url,
				type: 'PUT',
				dataType: 'JSON',
				headers: {"Authorization": $('#form_token').val()},
				data: {
					cpf: $(this).data('cpf'),
					nome_cliente: newName
				},
				success: function(retorno){
					alert('Atualizado com sucesso.');
					setTimeout(function(){
						$('.selector-btn-reload-clientes').trigger('click');
					}, 500);
				},
				error: function(error){
					if(error.status == 401){alert(error.responseJSON.mensagem);/*$("#conteudo-principal").load("login", function(){$('.serasa-content').css('display', 'block');});*/}
					else{$('.alert-success').prop('hidden', true);$('.alert-danger').prop('hidden', false);}
				},
				complete: function(retorno){
					$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));
				}
			});
		}
	});

	$(document).on('click', '.btn-excluir-cliente', function(e){
		e.preventDefault();
		var linha = $(this).parents('tr');
		var url = $('#form_url').val() + '/' + $(this).data('id');
		if (!confirm('Tem certeza que deseja excluir este cliente? Este processo é irreversivel.')) {
			return false;
		}
		$.ajax({
			url: url,
			type: 'DELETE',
			dataType: 'JSON',
			headers: {"Authorization": $('#form_token').val()},
			success: function(retorno){alert('Cliente excluido com sucesso!');$('#cliente-visualizar').DataTable().row(linha).remove().draw();},
			error: function(error){console.log(error);},
			complete: function(retorno){$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));}
		});		
	});

	$(document).on('click', '.btn-cadastrar-titulo', function(e){
		e.preventDefault();

		if ($('#nome_cliente').val() == '') { alert('Há campos vazios, por favor preencha');$('#nome_cliente').focus();return false;}
		if ($('#valor').val() == '') { alert('Há campos vazios, por favor preencha');$('#valor').focus();return false;}
		if ($('#situacao').val() == '') { alert('Há campos vazios, por favor preencha');$('#situacao').focus();return false;}
		if ($('#descricao').val() == '') { alert('Há campos vazios, por favor preencha');$('#descricao').focus();return false;}
		if ($('#data_emissao').val() == '') { alert('Há campos vazios, por favor preencha');$('#data_emissao').focus();return false;}

		$.ajax({
			// url: '/titulo',
			// url: 'https://serasa.herokuapp.com/titulo',
			url: $('#form_url').val(),
			type: 'POST',
			dataType: 'JSON',
			headers: {"Authorization": $('#form_token').val()},
			data: {
				id_cliente: $('#id_cliente').val(),
				id_parceiro: $('#id_parceiro').val(),
				valor: $('#valor').val(),
				situacao: $('#situacao').val(),
				descricao: $('#descricao').val(),
				data_emissao: $('#data_emissao').val(),
				data_pagamento: $('#data_pagamento').val()
			},
			success: function(retorno){/*if (retorno.success) {*/$('.alert-danger').prop('hidden', true);$('.alert-success').prop('hidden', false);/*}*/},
			error: function(error){
				if(error.status == 401){alert(error.responseJSON.mensagem);/*$("#conteudo-principal").load("login", function(){$('.serasa-content').css('display', 'block');});*/}
				else{$('.alert-success').prop('hidden', true);$('.alert-danger').prop('hidden', false).html("<strong>Http Status:</strong> " + error.status + ", <br/><strong>Mensagem:</strong> " + error.responseJSON.mensagem);}
			},
			complete: function(retorno){
				$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));
			}

		});
	});

	$(document).on('click', '.btn-atualizar-titulo', function(){
		$.ajax({
			url: $('#form_url').val() + '/' + $(this).data('id'),
			type: 'GET',
			headers: {"Authorization": sessionStorage.getItem("Sessao")},
			dataType: 'JSON',
			success: function(retorno){
				$("#conteudo-principal").load("titulo/edit", function(){
					$('.serasa-content').css('display', 'block');
					if (sessionStorage.getItem("Sessao") != "null") {
						$('#form_token').val(sessionStorage.getItem("Sessao"));
					}
					if (sessionStorage.getItem("url") != "null") {
						$('#form_url').val(sessionStorage.getItem("url").replace("login", "titulo"));
					}
					$('#id_titulo').val(retorno.id_titulo);
					$('#valor').val(retorno.valor);
					$('#descricao').val(retorno.descricao);
					$('#situacao').val(retorno.situacao);
					$('#data_emissao').val(retorno.data_emissao);
					$('#data_pagamento').val(retorno.data_pagamento);
				});
			},
			error: function(error){},
			complete: function(retorno){
				$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));
			}
		});
	});

	$(document).on('click', '.btn-editar-titulo', function(e){
		e.preventDefault();
		var url = $('#form_url').val() + '/' + $('#id_titulo').val();
			$.ajax({
				// url: '/titulo',
				url: url,
				type: 'PUT',
				dataType: 'JSON',
				headers: {"Authorization": $('#form_token').val()},
				data: {
					valor: $('#valor').val(),
					descricao: $('#descricao').val(),
					situacao: $('#situacao').val(),
					data_pagamento: $('#data_pagamento').val()
				},
				success: function(retorno){
					alert('Atualizado com sucesso.');
				},
				error: function(error){
					if(error.status == 401){alert(error.responseJSON.mensagem);/*$("#conteudo-principal").load("login", function(){$('.serasa-content').css('display', 'block');});*/}
					else{$('.alert-success').prop('hidden', true);$('.alert-danger').prop('hidden', false);}
				},
				complete: function(retorno){
					$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));
				}
			});
	});

	$(document).on('click', '.btn-excluir-titulo', function(e){
		e.preventDefault();
		var linha = $(this).parents('tr');
		var url = $('#form_url').val() + '/' + $(this).data('id');
		if (!confirm('Tem certeza que deseja excluir este titulo? Este processo é irreversivel.')) {
			return false;
		}
		$.ajax({
			url: url,
			type: 'DELETE',
			dataType: 'JSON',
			headers: {"Authorization": $('#form_token').val()},
			data: {id_parceiro: $('#id_parceiro').val()},
			success: function(retorno){
				alert('Titulo cancelado com sucesso!');
				setTimeout(function(){
					$('.selector-btn-reload-titulos').trigger('click');
				}, 500);
			},
			error: function(error){alert('Não foi possível cancelar o titulo, verifique se está com situacao em ABERTO (1).');},
			complete: function(retorno){$('#retorno').html(JSON.stringify(retorno.responseJSON, null, 2));}
		});		
	});

</script>
</html>

