<a href="#" data-target="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-2x py-2 p-1"></i></a>
<div class="page-header">
	<h2>Serasa para Empresas</h2>
</div>
<p class="lead">Sistema para empresas verificarem os clientes que possuem pendências entre elas.</p>
<hr>
<div class="row">
	<div class="col-md-4">
		<button role="button" class="btn btn-danger" data-toggle="collapse" data-target="#botao" aria-expanded="true">
			Menu lateral
		</button>
		<div id="botao" class="width collapse" aria-expanded="true">
			<div class="list-group" style="width: 400px;">
				<p>'Parceiros'.</p>
				<p>Módulo para pesquisar, cadastrar, editar e excluir parceiros.</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<button role="button" class="btn btn-danger" data-toggle="collapse" data-target="#botao3" aria-expanded="true">
			Como testar sem aplicação
		</button>
		<div id="botao3" class="height collapse" aria-expanded="true">
			<div>
				<p>Download do aplicativo POSTMAN na chromestore para google chrome.</p>
				<p>https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop</p>
				<p>Realizar requisição get/post/put/delete para o seguinte endereço: serasa.herokuapp.com/parceiro</p>
				<p>Exemplo:</p>
				<p>Primeiro definir as HEADERS como application/json
					<img src="https://image.prntscr.com/image/Xh6fdO3YQJyvzkD-m6AalQ.png">
				</p>
				<p>Depois só enviar os dados nesse formato:
					<img src="https://image.prntscr.com/image/P7LU_8oqSjqfQczu3KL-3Q.png">
				</p>
				<p>Resposta 200:
					<img src="https://image.prntscr.com/image/H-YmoRn7T4uMIkorYh9Lsw.png">
				</p>
				<p></p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<button role="button" class="btn btn-danger" data-toggle="collapse" data-target="#botao2" aria-expanded="true">
			API de integração
		</button>
		<div id="botao2" class="height collapse" aria-expanded="true">
			<div>
				<p>Primeiro fazer login em: POST - /login - formato json: {nome_usuario: mig, senha: 'testezera total'}</p>
				<p>Pagina de endereço para testes de integração com parceiros: /parceiro.</p>
				<p>GET - /parceiro - retorna todos os dados em json.</p>
				<p>GET - /parceiro/:id - retorna o parceiro dado o id específico.</p>
				<p>POST - /parceiro - cadastra um parceiro formato json {cnpj: 'string', nome_fantasia: 'string', razao_social: 'string', nome_usuario: 'string', senha: 'string'}.</p>
				<p>PUT - /parceiro/:id - atualiza um parceiro formato json - {id_parceiro: int, cnpj: 'string', nome_fantasia: 'string', razao_social: 'string', nome_usuario: 'string', senha: 'string'}.</p>
				<p>DELETE - /parceiro/:id - exclui um parceiro formato json {id_parceiro}.</p>
			</div>
		</div>
	</div>
</div>


