<div class="serasa-content" style="display: none;">
	<a href="#" data-target="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-2x py-2 p-1"></i></a>
	<button class="btn btn-danger pull-right btn-logout" name="submit">Sair</button>
	<div class="container">
		<h1><%= title %></h1>
		<p>Bem vindo ao <%= title %></p>

		<div class="card pull-left" style="width: 40%;">
			<div class="card-header">
				<h5>Cadastro de Titulos</h5>
				<div class="alert alert-success" role="alert" style="margin-top: 25px;" hidden>
					<strong>Sucesso!</strong> Cadastrado com perfeição.
				</div>
				<div class="alert alert-danger" role="alert" style="margin-top: 25px;" hidden>
				</div>
			</div>
			<div class="card-body">
				<form action="POST" method="/titulo/create">

					<div class="col-md-12">
						<label for="id_cliente"><strong>ID cliente</strong></label>
						<input type="text" class="form-control" name="id_cliente" id="id_cliente" value="1">
					</div>

					<div class="col-md-12">
						<label for="valor"><strong>Valor</strong></label>
						<input type="text" class="form-control" name="valor" id="valor" value="32.50">
					</div>

					<div class="col-md-12">
						<label for="situacao"><strong>Situação (1 = pendente, 2 = pago)</strong></label>
						<input type="text" class="form-control" name="situacao" id="situacao" value="1">
					</div>

					<div class="col-md-12">
						<label for="descricao"><strong>Descrição</strong></label>
						<input type="text" class="form-control" name="descricao" id="descricao" value="Cliente burro">
					</div>

					<div class="col-md-12">
						<label for="data_emissao"><strong>Data emissão</strong></label>
						<input type="text" class="form-control" name="data_emissao" id="data_emissao" value="21/11/2017">
					</div>

					<div class="col-md-12">
						<label for="data_pagamento"><strong>Data pagamento</strong></label>
						<input type="text" class="form-control" name="data_pagamento" id="data_pagamento" value="21/12/2017">
					</div>

				</form>
			</div>

			<div class="card-footer" style="margin-top: 25px;">
				<div class="col-md-4 pull-right">
					<button class="btn btn-success btn-cadastrar-titulo" name="submit">Cadastrar</button>
				</div>
			</div>
		</div>

		<div class="card pull-left" style="width: 40%;margin-left: 25px;">
			<div class="card-header">
				<h5>Servidor de requisição</h5>
			</div>
			<div class="card-body">
				<div class="col-md-12">
					<label for="form_url"><strong>URL</strong></label>
					<input type="text" class="form-control" name="form_url" id="form_url" value="https://serasa.herokuapp.com/titulo">
				</div>

				<div class="col-md-12">
					<label for="form_token"><strong>Token</strong></label>
					<input type="text" class="form-control" name="form_token" id="form_token" value="">
				</div>
				
				<div class="col-md-12">
					<label for="id_parceiro"><strong>id_parceiro</strong></label>
					<input type="text" class="form-control" name="id_parceiro" id="id_parceiro" value="">
				</div>

				<div class="col-md-12">
					<label for="form_json"><strong>JSON Enviado</strong></label>
					<pre class="form-control form_json" name="form_json" id="form_json" style="min-height:200px" disabled></pre>
				</div>

				<div class="col-md-12">
					<label for="retorno"><strong>JSON Retornado</strong></label>
					<pre class="form-control retorno" name="retorno" id="retorno" style="min-height:200px" disabled></pre>
				</div>

			</div>
		</div>
	</div>
</div>
