<div class="container">
	<h1><%= title %></h1>
	<p>Bem vindo ao <%= title %></p>

	<div class="card" style="width: 40%;">
		<div class="card-header">
			<h5>Cadastro de Parceiro</h5>
			<div class="alert alert-success" role="alert" style="margin-top: 25px;" hidden>
				<strong>Sucesso!</strong> Cadastrado com perfeição.
			</div>
			<div class="alert alert-danger" role="alert" style="margin-top: 25px;" hidden>
				<strong>Erro!</strong> Falha ao cadastrar, contate o administrador.
			</div>
		</div>
		<div class="card-body">
			<form action="POST" method="/parceiro/create">
				<div class="col-md-12" style="margin-top: 20px;">
					<label for="id_usuario">ID Usuário</label>
					<input type="text" class="form-control" name="id_usuario" id="id_usuario" value="1">
				</div>

				<div class="col-md-12">
					<label for="cnpj">CNPJ</label>
					<input type="text" class="form-control" name="cnpj" id="cnpj" value="98.333.790/0001-21">
				</div>

				<div class="col-md-12">
					<label for="nome_fantasia">Nome Fantasia</label>
					<input type="text" class="form-control" name="nome_fantasia" id="nome_fantasia" value="Nome Fantasia">
				</div>				

				<div class="col-md-12">
					<label for="razao_social">Razão Social</label>
					<input type="text" class="form-control" name="razao_social" id="razao_social" value="Razão Social">
				</div>

			</form>
		</div>

		<div class="card-footer" style="margin-top: 25px;">
			<div class="col-md-4">
				<button class="btn btn-success btn-cadastrar-parceiro" name="submit">Cadastrar</button>
			</div>
		</div>

	</div>
</div>
