<div class="container">

	<h1><%= title %></h1>
	<p>Bem vindo ao <%= title %></p>

	<div class="card" style="width: 40%;">
		<div class="card-header">
			<h5>Atualização de Parceiro</h5>
			<div class="alert alert-success" role="alert" style="margin-top: 25px;" hidden>
				<strong>Sucesso!</strong> Atualizado com perfeição.
			</div>
			<div class="alert alert-danger" role="alert" style="margin-top: 25px;" hidden>
				<strong>Erro!</strong> Falha ao atualizar, contate o administrador.
			</div>
		</div>
		<div class="card-body">
			<div class="col-md-8" style="margin-top: 20px;float: left;">
				<label for="id_parceiro">ID Parceiro</label>
				<input type="text" class="form-control" name="id_parceiro" id="id_parceiro" value="" >
			</div>
			<div class="col-md-4" style="margin-top: 50px;float: left;">
				<button class="btn btn-primary form-control btn-buscar-parceiro">Buscar</button>
			</div>

			<div class="col-md-12" style="float: left;">
				<label for="cnpj">CNPJ</label>
				<input type="text" class="form-control" name="cnpj" id="cnpj" value="">
			</div>

			<div class="col-md-12" style="float: left;">
				<label for="nome_fantasia">Nome Fantasia</label>
				<input type="text" class="form-control" name="nome_fantasia" id="nome_fantasia" value="">
			</div>				

			<div class="col-md-12" style="float: left;">
				<label for="razao_social">Razão Social</label>
				<input type="text" class="form-control" name="razao_social" id="razao_social" value="">
			</div>

			<div class="col-md-12" style="margin-top: 20px;float: left;">
				<label for="nome_usuario">Nome usuário</label>
				<input type="text" class="form-control" name="nome_usuario" id="nome_usuario" value="">
			</div>

			<div class="col-md-12" style="margin-top: 20px;float: left;">
				<label for="email">Email</label>
				<input type="text" class="form-control" name="email" id="email" value="">
			</div>

			<div class="col-md-12" style="margin-top: 20px;float: left;">
				<label for="senha">Senha</label>
				<input type="text" class="form-control" name="senha" id="senha" value="">
			</div>

		</div>

		<div class="card-footer" style="margin-top: 25px;">
			<div class="col-md-4" style="float: right;">
				<button class="btn btn-success btn-atualizar-parceiro" name="submit">Atualizar</button>
			</div>
			<div class="col-md-4" style="float: right;">
				<button class="btn btn-danger btn-excluir-parceiro" name="submit">Excluir</button>
			</div>
		</div>

	</div>
</div>

