<div class="serasa-content" style="display: none;">
	<a href="#" data-target="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-2x py-2 p-1"></i></a>
	<div class="container">
		<h1><%= title %></h1>
		<p>Bem vindo ao <%= title %></p>

		<div class="card pull-left" style="width: 40%;">
			<div class="card-header">
				<h5>Logout - Servidor de requisição</h5>
				<div class="alert alert-success" role="alert" style="margin-top: 25px;" hidden></div>
				<div class="alert alert-danger" role="alert" style="margin-top: 25px;" hidden></div>
			</div>
			<div class="card-body">
				<div class="col-md-12">
					<label for="form_url"><strong>URL</strong></label>
					<input type="text" class="form-control" name="form_url" id="form_url" value="https://serasa.herokuapp.com/logout">
				</div>

				<div class="col-md-12">
					<label for="form_token"><strong>Token</strong></label>
					<input type="text" class="form-control" name="form_token" id="form_token" value="4611388a3bd0dd567e420513c5140566">
				</div>

				<div class="col-md-12">
					<label for="form_json"><strong>JSON Enviado</strong></label>
					<pre class="form-control form_json" name="form_json" id="form_json" style="min-height:200px" disabled></pre>
				</div>

			</div>

			<div class="card-footer" style="margin-top: 25px;">
				<div class="col-md-4 pull-right">
					<button class="btn btn-success btn-login-parceiro" name="submit">Login</button>
				</div>
			</div>
		</div>
	</div>
</div>
