<div class="container">
	<h1><%= title %></h1>
	<p>Bem vindo ao <%= title %></p>

	<div class="card" style="width: 80%;">
		<div class="card-header"><h5>Lista de Parceiros</h5></div>
		<div class="card-body">
			<table class="table table-striped selector-table-parceiros" id="parceiro-visualizar">
				<thead>
					<tr>
						<th>id_parceiro</th>
						<th>cnpj</th>
						<th>nome_fantasia</th>
						<th>razao_social</th>
						<th>nome_usuario</th>
						<th>email</th>
						<th>senha</th>
					</tr>
				</thead>
				<tbody class="selector-tbody-parceiros"></tbody>
			</table>
		</div>
	</div>
</div>